header{
    background-color: aqua;
    min-height: 500px;
    justify-content: center;
    align-items:center;
    display: flex;
}

header:first-child{
    justify-content: flex-start;
}

.first-1{
    background-color: coral;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    /* padding: 15px; */
    box-sizing: border-box;
}
.first-2{
    background-color: cornflowerblue;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
    flex-direction: column;
}

.second{
    background-color: brown;
}

.third{
    background-color: rgb(251, 255, 0);
    display: flex;
}

body {
    width: 1200px;
    margin: 15px auto;
    background-color: rgb(142, 206, 156);
    
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.one3, .two3{
    flex-basis: 50%;
}

/* .second-1{
    background-color: blueviolet;
    height: 100%;
    order: 1;
}

.second-2{
    background-color: darkgreen;
    height: 100%;
    order: 0;
}
.second-3{
    background-color: darkkhaki;
    height: 100%;
    flex-basis: 100%;
    min-width: 100%;
    order: 1;
}

.second-4{
    background-color: deeppink;
    height: 100%;
    flex-basis: 100%;
    min-width: 100%;
    order: 0;
    position: */
}